h1{text-align: center;}
h1{font-size: 200%;}
h1{color: pink;}

h2{text-align: center;}
h2{font-size: 130%;}
h2{color: rgb(62, 40, 184);}

p{text-align: center;}
p{font-size: 150%;}

#taylor1{width: 40%;}
#taylor1{margin-left: 30%;}
#taylor1{margin-bottom: 5%;}

#taylor2{width:40%;}
#taylor2{margin-left: 30%;}
#taylor2{margin-bottom: 5%;}

#taylor3{width: 40%;}
#taylor3{margin-left: 30%;}
#taylor3{margin-bottom: 5%;}